.timer-countdown {
  /* display: none; */
  line-height: 1;
}
.base-timer {
  position: relative;
  width: 475px;
  height: 475px;
}

.base-timer__svg {
  transform: scaleX(-1);
  background-color: transparent;
  border-radius: 50%;
}

.base-timer__circle {
  fill: none;
  stroke: none;
}
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: #ffdbad;
}
.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: #f88c00;
  opacity: 0.5;
}

#reset-timer {
  margin-top: 32px;
}

#todo-list {
  list-style-type: none;
  padding: 0;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  position: relative;
}

#todo-list li.completed {
  text-decoration: line-through;
  color: gray;
}

#todo-list li input[type="checkbox"] {
  margin-right: 10px;
}

.todo-icons {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

#todo-list li:hover .todo-icons {
  display: block;
}

/* from webflow */
@media (min-width: 992px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="c01244da-950f-123c-8e10-410c086b4922"] {
    opacity: 0;
    height: 0px;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="02d13d03-a9c3-2876-ed14-a7086d91b32b"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="c01244da-950f-123c-8e10-410c086b4922"] {
    opacity: 0;
    height: 0px;
  }

  html.w-mod-js:not(.w-mod-ix)
    [data-w-id="02d13d03-a9c3-2876-ed14-a7086d91b32b"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0deg) skew(0, 0);
  }
}
